In [42]:
import pandas as pd
df = pd.read_csv('data/df/artist_song.csv')
df.head()

,artist,song
0,bastille,"Ooh, I'm not ready\nOoh, I'm not ready\nOoh, I..."
1,rolling blackouts coastal fever,Stepping into the town\nIgnore the stink of bu...
2,rolling blackouts coastal fever,"Stand on the morning, head like a weather vane..."
3,bastille,"Yeah, would I lie to you baby?\nYeah, would I?..."
4,rolling blackouts coastal fever,I see a problem\nI'm not willing to address\nA...

### Train-test splitting

In [43]:
X = df['song']
y = df['artist']

In [44]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0) # stratify=y

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((88,), (23,), (88,), (23,))

### Feature Engineering ("word engineering")
* download and save your corpus
* create labels for the corpus
* transform your lyrics into BOW document vectors
* delete some words - cf curse of dimensionality
* How can we decide what words to delete?!
    * ML solution - coefficients of the words, correlation matrix
    * all feature selection techniques should apply
    * domain expertise solution - knowing a bit about language
    * remove stop words *(e.g. 'i am very similar to something which is also similar to me and that thing is batman' - important words here: similiar, something, batman (got rid of the stopwords like i, am, to, is)*
    * standardize plural / singular differentation - stemming 
    * more tomorrow

### transform lyrics into BOW document vectors
### fit a count vectorizer and apply  the Tf-Idf Transformer using  the TfidfVectorizer
This does both steps (count vectorizer and tfidfTransfomer) in one

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [46]:
cv = TfidfVectorizer(stop_words='english')
cv

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [47]:
new_corpus = cv.fit(X_train).transform(X_train)

In [48]:
new_corpus

<88x1737 sparse matrix of type '<class 'numpy.float64'>'
	with 4249 stored elements in Compressed Sparse Row format>

In [50]:
df = pd.DataFrame(new_corpus.todense(), columns=cv.get_feature_names()) # , index=['coldplay', 'masego']
df.head()

,09,10,30,6am,accidents,ache,aches,achilles,act,acting,...,yeah,year,yearn,years,yellow,yes,yonder,young,youth,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.310395,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067564,0.032166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### The rest - standard ML pipeline
* train test splitting
* choose a model - RFC, LR, NB, etc.
* train and measure it
* cross validating