In [8]:
# insert fit, linear_model, LogisticRegression and score
import pandas as pd 
# read in titanic data
df = pd.read_csv('train.csv', sep=',')
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
# define independent (x, input data) and dependent data
# Start with the Pclass column only (because it is numerical and complete).
X = df[['Pclass']] # input data, DF -> matrix
y = df['Survived'] # labels, Series -> vector

In [11]:
from sklearn.linear_model import LogisticRegression

m = LogisticRegression(C=1e5)# hyperparameter that makes the LogReg smoother
m.fit(X, y) # train the model == finds optimal parameters
print(m.score(X, y)) # accuracy

0.6790123456790124

### Print the coefficients calculated by the model

In [12]:
m.coef_, m.intercept_

(array([[-0.85011256]]), array([1.44680566]))

### Calculate the probabilities for your data points belonging to the positive class.

In [15]:
m.predict_proba(X)

array([[0.75092131, 0.24907869],
       [0.35510062, 0.64489938],
       [0.75092131, 0.24907869],
       ...,
       [0.75092131, 0.24907869],
       [0.35510062, 0.64489938],
       [0.75092131, 0.24907869]])

### Suppose you classify all points with a probability > 0.9 as positive.

How does the result of your prediction change?

How does it change if you change the threshold to > 0.1?

#### Balanced classes
Add the option class_weight='balanced' to even out the bias caused by the non-survivors outnumbering the survivors.

In [16]:
m = LogisticRegression(C=1e5, class_weight='balanced')# hyperparameter that makes the LogReg smoother
m.fit(X, y) # train the model == finds optimal parameters
print(m.score(X, y))

0.6677890011223344

In [17]:
m.coef_, m.intercept_

(array([[-0.85489278]]), array([1.93090493]))